* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

body {
    background-color: #E6DFD7;
}

@font-face {
    font-family: "Hubballi";
    src: url("/fonts/Hubballi-Regular.ttf")
}

h1, h2, h3, h4, p {
    font-family: "Hubballi";
    color: #000000;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #9A8D84;
    margin: 0px;
    padding: 10px;
    height: 80px; 
}

.logo {
    font-family: "Hubballi";
    text-decoration: none;
    color: #000000;
    font-size: 1.8em;
    padding: 20px; 
    z-index: 999;
}

.hamburger-menu {
    position: relative;
}

.hamburger-menu.sticky {
    position: fixed;
    top: 12px;
    right: 12px; 
    z-index: 997;
    padding: 5px; 
}


.hamburger-icon {
    background-color: #E6DFD7 ;
    border: none; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Hubballi";
    font-size: 1.5em;
    padding: 10px;
    z-index: 999;
    position: fixed;
    top: 12px;
    right: 12px; 
    width:fit-content;
}

.hamburger-icon img {
    width: 20px; 
    padding: 10px 5px 10px 5px;
}


.menu {
    display: none;
    position: fixed;
    top: 22px; 
    right: 20px; 
    border-radius: 10px 30px 10px 10px;
    padding-top: 30px;
    background-color: #9A8D84;
    z-index: 998;
}

.menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 250px; 
}

.menu a {
    font-family: "Hubballi";
    color: #000000;
    text-decoration: none;
    font-size: 1.8em;
    padding: 20px; 
}

main {
    margin: 20px 0px; 
    display: flex;
    flex-direction: column;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1BAB3;
    height: fit-content;
    width: 90%;
    border-radius: 100px;
    margin: 20px 20px; 
    padding: 10px;
}

.welcome {
    align-self: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcome h1 {
    font-size: 3em;
}

.welcome p {
    font-size: 2em;
    padding-bottom: 20px; 
}

.welcome-img {
    height: 500px;
    margin: 20px;
    padding: 10px;
    width: 95%;
    object-fit: cover;
    border-radius: 100px;
    align-self: center;
}

.main-img {
    height: 600px;
    margin-top: 20px;
    width: 95%;
    object-fit: cover;
    border-radius: 20px;
    align-self: center;
}

h1 {
    text-align: center;
    font-size: 3.5em; 
    color: #000;
    margin-bottom: 0px;
}

.text-box {
    margin: 10px; 
    padding: 10px; 
    text-align: center;
    align-self: center;
}

.text-box p {
    font-size: 1.2em;
}

.project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2em;
    margin: 10px; 
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #C1BAB3;
    width: 90%; 
    margin: 20px; 
    border-radius: 10px;
}

.card img {
    align-self: center;
    width: 95%;
    height: max-content;
    border-radius: 10px;
    object-fit: cover;
    margin: 10px; 
}

.card-head .mesh-background {
    height: 40px; 
    bottom: 0; 
}

.card-head h3 {
    font-size: 1.8em;
}

.card-text h3 {
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

.card-text h4 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.card-text p {
    padding: 10px; 
    margin: 10px 10px 20px 10px;
}

.btn__container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px; 
    margin-top: 10px; 
}

.btn {
    color:#fff;
    font-family: "Hubballi";
    font-size: 1.5em;
    background-color: #A4303F;
    border: none;  
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
}



.about {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px 0px;
    width: 90%; 
}

.about-me {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: fit-content;
    background-color: #C1BAB3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.text-style{
    font-size: 0.8em;
    color: #A4303F;
}





.contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%; 
    margin-top: 20px; 
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%; 
    align-self: center;
    background-color: #C1BAB3;
    border-radius: 20px;
    padding: 20px 0px; 
}

legend, label, input {
    font-family: "Hubballi";
}

legend {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

form label { 
    padding:5px;}

legend:after {
    content:"";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    border-radius: 2px;
    background-color: #D9CAB3;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    width: 100%; 
    text-align: center;
    align-items: center;
}

.form__input {
    width: 90%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    margin: 5px 0px 22px 0px; 
    background-color: #FCF7F8;
    border-radius: 10px;

}

.form__input:hover{
    background-color: rgba(0,0,0,0.1);
}

.form__input:focus {
    background-color: #fff;
    border: 2px solid rgba(191, 209, 229, 0.5);
}

.message-box {
    min-height: 125px;
    max-height: 200px;
    max-width: 600px; 
}

.error-message {
    color: #CC444B;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 15px;
    display: none;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}


.modal-content {
    background-color:#C1BAB3;
    margin: 15% auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    height: auto;
    position: relative;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C1BAB3;
    height: 100px; 
}

footer p {
   font-size: 1em;
   padding: 20px;
   width: fit-content;
}

@media (max-width: 300px) {

    .toosmall {
        display: none;
    }

    .welcome {
        margin: 5px;
        padding: 20px;
    }

    .btn__container {
        padding: 0; 
        flex-direction: column;
        align-items: center;
    }
    .btn {
        font-size: 1em;
        margin: 10px;
    }

    .text-box {
        margin: 0;
        padding: 2px; 
    }

    .text-box h2 {
        padding: 0px;
        margin: 10px 2px;  
    }

    .text-box h2 {
        font-size: 1.8em;
    }

    .form__input {
        width: 150px; 
    }

    .welcome-img {
        height: 200px;
    }

}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .welcome-img {
        height: 300px;
    }
}

@media (max-width: 500px) {

    
.welcome h1 {
    font-size: 2em;
}

.welcome p {
    font-size: 1.5em;
    padding-bottom: 20px; 
}

    .text-box {
        margin: 0; 
    }

    .text-box h2 {
        font-size: 1.8em;
        margin-bottom: 5px; 
    }

    .text-box h3 {
        margin-bottom: 10px; 
    }

    .about {
        margin-top: 20px; 
    }

    .contact {
        margin-top: 0px;
    }


    .main-img {
        height: 250px; 
        width: 90%;
    }

    .btn__container {
        padding: 5px; 
        margin: 20px 0px;
    }

    .btn {
        font-size: 1.2em;
    }
}

@media (min-width: 600px) {
    .form__input {
        width: 400px; 
    }

    .welcome-img {
        height: 500px;
        width: 500px;  
    }
}

@media (min-width: 900px) {
    .welcome-container {
        flex-direction: row;
        width: 85%; 
        align-self: center;
    }
}

@media (min-width: 1000px) {

    .mobile {
        display: none;
    }

    header {
        flex-direction: row;
        position: relative;
        height: 60px; 
        width: 100%; 
        margin: 0;
    }

    .fixed-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        margin: 0;
      }


    .logo {
        font-size: 2em;
        padding: 12px; 
    }

    .hamburger-icon {
        display: none;
    }

    .hamburger-menu {
        position: fixed;
        top: 8px;
        right: 8px; 
    }

    .menu, .menu.active {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: fit-content;
        width: fit-content;
        position: static;
        overflow: hidden;
        padding-top: 0px; 
        position: fixed;
        top: 8px;
        right: 8px; 
        z-index: 999;

    }

    .menu a {
        font-size: 1.5em;
        position: relative;
    }

    .menu a::before {
        content: '';
        position: absolute;
        bottom: 20px;
        left: 25%; 
        width: 50%;
        height: 2px;
        background-color: #A4303F;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }
      
      .menu a:hover::before {
        transform: scaleX(1);
      }



    .about-me {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        align-self: center;
    }

    .text-box h2 {
        text-align: left;
    }

    .main-img {
        border-radius: 20px;
        width: 400px;
        height: 450px; 
        margin: 20px;
    }

    .text-box {
        text-align: left;
        width: 60%;
    }

    .text-box h2 {
        font-size: 2em;
        margin: 10px;
        padding: 0; 
    }

    .text-box h3 {
        font-size: 1.3em;
        margin: 10px 10px 40px 10px;
        padding: 0; 
    }

    .text-box p {
        margin: 30px 10px; 
        font-size: 1.3em;
    }

    .about-me .btn__container {
        margin: 20px; 
        padding: 10px;
    }

    .text-box .btn {
        margin: 10px;
    }


    .skill-box {
        background-color: #C1BAB3;
        border-radius: 20px; 
        align-self: center;
        margin: 20px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        height: 200px; 
    }
    h4 {
        padding: 10px; 
        font-size: 1.2em;
        margin: 10px; 
        padding: 0; 
    }

    .skill-box li {
        font-family: "Hubballi";
        font-size: 1.5em;
    }



    .project__container {
        width: 90%; 
        align-self: center;
        margin-top: 20px; 
    }

    .project__container h2 {
        margin-bottom: 0px;
        padding: 0;
    }

    .card {
        flex-direction: row;
        width: 90%;
        padding: 20px;
    }

    .card-2 {
        flex-direction: row-reverse;
    }

    .card img {
        width: 40%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 60%;
    }

    .card-text h3 {
        font-size: 1.5em;
        margin: 10px; 
    }

    .card-text p {
        font-size: 1.2em;
        margin: 10px; 
        padding: 0px;
    }

    .btn__container {
        padding: 0px; 
    }

    a .btn{
        margin: 10px 30px;
    }

    .form.box {
        width: 1200px; 
    }

    .form__input { 
        width: 600px; 
    }


}

@media (min-width: 1200px) {
    .text-box h2 {
        font-size: 2.5em;
    }

    .text-box h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.5em;
    }

    .text-box p {
        font-size: 1.5em;
    }

    .form-box {
        width: 900px; 
    }
}

@media (min-width: 1500px) {
    .about-me, .card, .form-box {
        width: 1200px; 
    }

    .project__container {
        width: 1400px;
    }
}