html {
    margin: 0; 
    padding: 0; 
    background-color: #E6DFD7;
}

body {
    margin: 0; 
    padding: 0; 
}

@font-face {
    font-family: "Hubballi";
    src: url("/fonts/Hubballi-Regular.ttf")
}

h1, h2, h3, h4, p {
    font-family: "Hubballi";
    color: #000000;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #C1BAB3;
    margin: 0px;
    padding: 10px;
}

.logo {
    font-family: "Hubballi";
    text-decoration: none;
    color: #000000;
    font-size: 1.8em;
    padding: 15px; 
    z-index: 999;
}

.hamburger-menu {
    position: relative;
}

.hamburger-menu.sticky {
    position: fixed;
    top: 12px;
    right: 12px; 
    z-index: 997;
    padding: 5px; 
}


.hamburger-icon {
    background-color: #E6DFD7 ;
    border: none; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Hubballi";
    font-size: 1.5em;
    padding: 10px;
    z-index: 999;
    position: fixed;
    top: 12px;
    right: 12px; 
}

.hamburger-icon img {
    width: 20px; 
    padding: 10px 5px 10px 5px;
}


.menu {
    display: none;
    position: fixed;
    top: 0px; 
    left: 0; 
    background-color: #C1BAB3;
    z-index: 998;
}

.menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px; 
}

.menu a {
    align-self: center;
    font-family: "Hubballi";
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    padding: 20px; 
}

main {
    margin: 20px 0px; 
    display: flex;
    flex-direction: column;
}

.img__container {
    position: relative;
    height: 600px;
    margin: 0px;
}
.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mesh-background {
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 80px; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2em; 
    color: #fff;
}

.text-box {
    margin: 10px; 
    padding: 10px; 
    text-align: center;
}

.text-box p {
    font-size: 1.2em;
}

.project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C1BAB3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    font-size: 2em;
    margin: 10px 10px 0px 10px; 
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #E6DFD7;
    width: 90%; 
    margin: 20px; 
    border-radius: 10px;
}

.card img {
    align-self: center;
    width: 100%;
    height: max-content;
    border-radius: 10px;
    object-fit: cover;
}

.card-head .mesh-background {
    height: 40px; 
    bottom: 0; 
}

.card-head h3 {
    font-size: 1.8em;
}

.card-text h3 {
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

.card-text h4 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.card-text p {
    padding: 10px; 
    margin: 10px 10px 20px 10px;
}

.btn__container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px; 
    margin-top: 0px; 
}

.btn {
    color:#fff;
    font-family: "Hubballi";
    font-size: 1.2em;
    background-color: #A4303F;
    border: none;  
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact {
    display: flex;
    align-self: center;
    width: 90%; 
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    align-self: center;
    background-color: #C1BAB3;
    border-radius: 20px;
    padding: 20px 0px; 
}

legend, label, input {
    font-family: "Hubballi";
}

legend {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

form label { 
    padding:5px;}

legend:after {
    content:"";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    border-radius: 2px;
    background-color: #D9CAB3;
}

fieldset {
    border: none;
}

.form__input {
    width: 90%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    margin: 5px 0px 22px 0px; 
    background-color: #FCF7F8;
    border-radius: 10px;

}

.form__input:hover{
    background-color: rgba(0,0,0,0.1);
}

.form__input:focus {
    background-color: #fff;
    border: 2px solid rgba(191, 209, 229, 0.5);
}

.message-box {
    min-height: 150px;
}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer button {
    color:#ffff;
    font-family: "Hubballi";
    font-size: 1.2em;
    background-color: #C1BAB3;
    border: none;  
    width: fit-content;
    padding: 10px;
}

footer button:hover {
    font-weight: 600;
}

@media (max-width: 400px) {
    .img__container {
        height: 250px; 
        width: 100%;
    }

    .main-img {
        height: 100%; 
    }
}

@media (min-width: 1000px) {

    .welcome {
        align-self: center;
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin: 20px; 
        padding: 40px;
        text-align: center;
        background-color: #C1BAB3;
        height: fit-content;
        border-radius: 100px;
    }

    .image {
        width: 40%;
        height: max-content;
        border-radius: 20px;
    }


    .mobile {
        display: none;
    }

    header {
        flex-direction: row;
        position: relative;
        height: 50px; 
    }

    .fixed-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
      }

    .hamburger-icon {
        display: none;
    }

    .hamburger-menu {
        position: fixed;
        top: 17px;
        right: 17px; 
    }

    .menu, .menu.active {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: fit-content;
        width: fit-content;
        position: static;
        overflow: hidden;

    }

    .menu a {
        font-size: 1.5em;
        position: relative;
    }

    .menu a::before {
        content: '';
        position: absolute;
        bottom: 20px;
        left: 25%; 
        width: 50%;
        height: 2px;
        background-color: #A4303F;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }
      
      .menu a:hover::before {
        transform: scaleX(1);
      }



    .about-me {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        height: fit-content;
        align-self: center;
        background-color: #C1BAB3;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .img__container {
        width: 400px;
        height: 450px; 
        margin: 20px;
    }

    .main-img {
        border-radius: 20px;
        height: 100%; 
    }

    .text-box {
        text-align: left;
        width: 60%;
    }

    .text-box h2 {
        font-size: 2em;
        margin: 10px;
        padding: 0; 
    }

    .text-style{
        font-size: 0.8em;
        color: #A4303F;
    }

    .text-box h3 {
        font-size: 1.3em;
        margin: 10px 10px 40px 10px;
        padding: 0; 
    }

    .text-box p {
        margin: 30px 10px; 
        font-size: 1.3em;
    }

    .about-me .btn__container {
        margin: 20px; 
        padding: 10px;
    }

    .text-box .btn {
        margin: 10px;
    }


    .skill-box {
        background-color: #C1BAB3;
        border-radius: 20px; 
        align-self: center;
        margin: 20px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        height: 200px; 
    }
    h4 {
        padding: 10px; 
        font-size: 1.2em;
        margin: 10px; 
        padding: 0; 
    }

    .skill-box li {
        font-family: "Hubballi";
        font-size: 1.5em;
    }



    .project__container {
        width: 90%; 
        align-self: center;
        margin-top: 20px; 
    }

    .project__container h2 {
        margin-bottom: 0px;
        padding: 0;
    }

    .card {
        flex-direction: row;
        width: 90%;
        padding: 20px;
    }

    .card-2 {
        flex-direction: row-reverse;
    }

    .card img {
        width: 50%;
    }

    .card-head img {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        padding: 20px; 
        height: 250px;
        width: 50%;
    }

    .card-text h3 {
        font-size: 1.5em;
        margin: 10px; 
    }

    .card-text p {
        font-size: 1.2em;
        margin: 10px; 
        padding: 0px;
    }

    .btn__container {
        padding: 0; 
    }

    a .btn{
        margin: 10px 30px;
    }

    .trio-box {
        width: 90%;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
    }

}

@media (min-width: 1200px) {
    .text-box h2 {
        font-size: 2.5em;
    }

    .text-box h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.5em;
    }

    .text-box p {
        font-size: 1.5em;
    }
}

@media (min-width: 1500px) {
    .about-me {
        width: 1200px; 
    }
}